body {
	background-image: url("../img/background_login@2x.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.Logo {
	padding-top: 140px;
}



    .login-form form {
    	margin-bottom: 15px;
        padding: 30px;
		padding-top: 60px;
    }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 300px;
    }
    .btn {  
        font-size: 15px;
        font-weight: bold;
		max-width: 100px;
    }
	



